.catalog {
  padding-top: 85px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 56px;
    padding-bottom: 66px;
  }
}

.catalog h2 {
  margin: 0;
  margin-bottom: 49px;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: $color-tangaroa;
  text-align: center;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 36px;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0 15px;
  list-style-type: none;

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

.catalog__item {
  position: relative;
  min-height: 0;
  padding-bottom: 148.5%;
  overflow-y: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: $color-tangaroa-to-bottom;
  }

  @include vp-1023 {
    padding-bottom: 124.9%;
  }

  @include vp-767 {
    padding-bottom: 142.9%;
  }

  &:hover,
  &:focus-within {
    box-shadow: 0 4px 35px $color-tangaroa--15;
  }
}

.catalog img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  background-color: $color-tangaroa;
  z-index: -1;
}

.catalog__item-content-wrapper {
  --titleHeight: 0;
  --paddingTop: 41px;
  --paddingBottom: 23px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--paddingTop) 20px var(--paddingBottom) 30px;
  transform: translateY(max(calc(100% - var(--titleHeight) - var(--paddingTop) - var(--paddingBottom)), 0px));
  transition: transform $trans-default, background-color $trans-default, padding $trans-200;

  @include vp-1023 {
    --paddingTop: 37px;
    --paddingBottom: 27px;

    padding-right: 35px;
    padding-left: 35px;
  }

  @include vp-767 {
    --paddingTop: 46px;
    --paddingBottom: 18px;

    padding-right: 25px;
    padding-left: 25px;
  }
}

.catalog__item:hover .catalog__item-content-wrapper,
.catalog__item:focus-within .catalog__item-content-wrapper {
  padding: 29px 25px 35px;
  background-color: $color-tangaroa;
  overflow-y: auto;
  transform: translateY(0);

  @include vp-1023 {
    padding: 29px 35px 35px;
  }

  @include vp-767 {
    padding: 29px 25px 35px;
  }
}

.catalog__item:focus-within .catalog__item-content-wrapper {
  transition: background-color $trans-default, padding $trans-200;
}

.catalog h3 {
  position: relative;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  color: $color-alice-blue;
}

.catalog dl {
  margin: 13px 0 0;
  transform: translateY(5px);
  transition: transform $trans-default, opacity $trans-default;
  opacity: 0;

  @include vp-1023 {
    transform: translateY(10px);
  }
}

.catalog__item:hover dl,
.catalog__item:focus-within dl {
  transform: translateY(0);
  opacity: 1;
}

.catalog dt {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $color-alice-blue;
}

.catalog dd {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: $color-quartz;
}

.catalog dd:not(:last-of-type) {
  margin-bottom: 12px;
}

.catalog__item-button {
  width: 100%;
  padding: 9px 20px;
  margin-top: auto;
  transition: opacity $trans-default;

  &:hover {
    opacity: 0.6;
  }
}
