.header {
  position: relative;
  z-index: 10;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  padding-top: 30px;
  padding-bottom: 30px;

  @include vp-1023 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include vp-767 {
    padding-top: 11px;
    padding-right: 0;
    padding-bottom: 11px;
  }
}

.header__logo-link {
  display: flex;
  transition: opacity $trans-default;

  @include vp-767 {
    position: relative;
    z-index: 20;
    transition: opacity $trans-default, transform $trans-default;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus-visible {
    outline: 2px solid $color-alice-blue;
    outline-offset: 4px;
  }

  &:active {
    opacity: 0.3;
  }
}

.header.is-open .header__logo-link {
  @include vp-767 {
    transform: translateX(36px);

    &:focus-visible {
      outline-color: $color-tangaroa;
    }
  }
}

.header__logo {
  --tabletLogo: none;
  --mobileLogo: none;

  width: 70px;
  height: 38px;
  color: $color-alice-blue;

  @include vp-1023 {
    --desktopLogo: none;
    --tabletLogo: block;

    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    --tabletLogo: none;
    --mobileLogo: block;

    width: 42px;
    height: 22px;
    transition: color $trans-default;
  }
}

.header.is-open .header__logo {
  @include vp-767 {
    color: $color-tangaroa;
  }
}

.header__list-overlay {
  @include vp-767 {
    position: fixed;
    z-index: 15;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: $color-prussian-blue-50;
    cursor: pointer;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity $trans-default,
      visibility $trans-default;
  }
}

.header.is-open .header__list-overlay {
  @include vp-767 {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
}

.header__list-wrapper {
  @include vp-767 {
    position: fixed;
    z-index: 15;
    top: 0;
    right: 0;
    bottom: 0;
    left: 36px;
    padding: 75px 30px 45px 15px;
    background-color: $color-alice-blue;
    transition: transform $trans-default;
    transform: translateX(100%);
    cursor: default;
  }
}

.header.is-open .header__list-wrapper {
  @include vp-767 {
    transform: translateX(0);
  }
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style-type: none;

  @include vp-1023 {
    gap: 24px;
    margin-top: 2px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    max-height: 100%;
    margin-top: 0;
    overflow-y: auto;
  }
}

.header__link {
  display: inline-block;
  padding: 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-alice-blue;
  transition: opacity $trans-default;

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-767 {
    padding: 10px 10px 8px;
    font-size: 18px;
    line-height: 22px;
    color: $color-tangaroa;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus-visible {
    outline: 2px solid $color-alice-blue;
    outline-offset: 4px;

    @include vp-767 {
      outline-color: $color-tangaroa;
      outline-offset: -2px;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.header__toggle {
  position: relative;
  display: none;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity $trans-default;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 2px;
    background-color: $color-alice-blue;
    transform: translate(-50%, -50%);
    box-shadow: 0 6px 0 0 $color-alice-blue,
      0 -6px 0 0 $color-alice-blue;
  }

  @include vp-767 {
    display: block;
    margin-right: 7px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus-visible {
    outline: 2px solid $color-alice-blue;
    outline-offset: 4px;
  }

  &:active {
    opacity: 0.3;
  }
}

.header.is-open .header__toggle {
  &:focus-visible {
    @include vp-767 {
      outline-color: $color-tangaroa;
      outline-offset: -2px;
    }
  }

  @include vp-767 {
    z-index: 20;
    margin-right: 0;

    &::before {
      width: 18px;
      height: 2px;
      background-color: $color-tangaroa;
      box-shadow: none;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 18px;
      height: 2px;
      background-color: $color-tangaroa;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
